body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    position: sticky;
    height: 4rem;
    top: 0;
    background: #0F1035;
    color: #fff;
    padding: 12px 0;
}

#config-header {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-around;
    z-index: 10;
}

#config-header .logo {
    font-size: 1rem;
}

#config-header nav {
    
    margin-left: auto; /* Pushes the navigation to the right */
}

#config-header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#config-header nav ul li {
    margin-left: 9px;
}

#config-header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.5s;
    padding: 0.3rem;
}

#config-header nav ul li a:hover {
    background-color: rgb(0 200 163 / 64%);
    text-decoration: none;
    color: #DCF2F1;
}

#hero {
    background-image: url('crop-background.webp'); /* Replace with your crop background image */
    background-size: cover;
    background-position: center;
    color: #0B0B0D;
    height: 10rem;
    padding: 50px 20px;
    text-align: center;
}

#hero .hero-text h2 {
    font-size: 3rem;
    margin: 0;
}

#hero .hero-text p {
    font-size: 1.5rem;
}

#input-form {
    padding: 40px 20px;
    text-align: center;
    background: #EEF5FF;
}

#input-form h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#input-form form {
    display: inline-block;
    text-align: left;
    max-width: 500px;
}

#input-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#input-form input, #input-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#input-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#input-form button:hover {
    background-color: #45a049;
}

h1.predict {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19vh;
    background-color: #7FC7D9;
    transition: background-color 0.3s;
    border: 2px solid #fff;
    border-radius: 10% / 20%;
    padding-left: 10px;
    padding-right: 10px;

}


.footer{
    text-align: center;
    color: white;
    display: flex;
    height: 5rem;
    background-color: #0F1035;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    font-size:larger;
}