<h1>About Dataset</h1>

<h2>This dataset encompasses agricultural data for multiple crops cultivated 
across various states in India from the year 1997 till 2020. 
The dataset provides crucial features related to crop yield prediction, 
including crop types, crop years, cropping seasons, states, areas under cultivation, 
production quantities, annual rainfall, fertilizer usage, pesticide usage, and calculated yields. </h2>



Columns Description:

 ** input features ~
1.Crop: The name of the crop cultivated.
2.Crop_Year: The year in which the crop was grown.
3.Season: The specific cropping season (e.g., Kharif, Rabi, Whole Year).
4.State: The Indian state where the crop was cultivated.
5.Area: The total land area (in hectares) under cultivation for the specific crop.
6.Annual_Rainfall: The annual rainfall received in the crop-growing region (in mm).
7.Fertilizer: The total amount of fertilizer used for the crop (in kilograms).
8.Pesticide: The total amount of pesticide used for the crop (in kilograms).

 ** output feature ~
9.Production: The quantity of crop production (in metric tons).